
.site-footer {
    padding: 48px 0 48px;
    background-color: #002529;
}
.footer {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.footer-wrapper {
    width: 160px;
}
.footer-wrapper > img{
    margin-bottom: 25px;
    color: #FFFFFF;
}
.footer-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.footer-item {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px; 
}
.footer-link{
    color:#FFFFFF
}
.footer-link:hover{
    color: #F67E7E;
}
.footer-text-wrapper{
    width: 445px;
}
.footer-text-wrapper > ul > li > p{
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6;  
}
.wrapper{
    width: 255px;
}
.footer-list-wrapper{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    margin-bottom: 51px;
}
.p{
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
    color:#FFFFFF  
}
.footer-link-wrapper{
    color:white;
    transition: all 0.3s;
}
.footer-link-wrapper:hover{
    color: #F67E7E;
}

@media (max-width:868px){
    .footer{
        align-items: start;
        flex-direction: row-reverse;
    }
    .footer-list-wrapper{
        justify-content: start;
    }
    .footer-img{
        width: 96px;
        height: 24px;
    }
}

@media (max-width:600px){
    .footer{
        padding: 65px 0;
        flex-direction: column;
        margin:  0 auto;
    }
    .footer-img{
        width: 96px;
        height: 24px;
    }
    .footer-wrapper{
        margin: 0 auto;
        margin-bottom: 24px;
        & > img{
            margin-left: 32px;
        }
    }
    .footer-text-wrapper{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;
        width: 100%;
    }
    .wrapper{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .footer-list-wrapper{
        margin-bottom: 16px;
        justify-content: center;
        gap: 16px;
    }    
}