.go-section {
    padding: 76px 0;
    background-color: #F67E7E;
    background-image: url("../images/go-bg-img.svg");
    background-repeat: no-repeat;
    background-size: 200px 100px;
    background-position: calc(50% - 740px) bottom;
}
.go {
    display: flex;
    justify-content: space-between;
}
.go-title > h3{
    font-size: 48px;
    font-weight: 700;
    line-height: 48px; 
    color: #012F34; 
}
.go-link {
    width: 153px;
    padding: 9px 0 11px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px; 
    transition: all 0.4s;  
}
.go-link:hover {
    background-color: black;
    color: #FFFFFF;
}