.go-section {
    padding: 76px 76px;
    background-color: #F67E7E;
    background-image: url(../images/go-bg-img.svg);
    background-repeat: no-repeat;
    background-size: 160px 120px;
    background-position: left bottom;
}
.go-wrapper {
    display: flex;
    justify-content: space-between;
}
.go-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: #012F34;   
}
.go-link {
    width: 153px;
    padding: 9px 0 11px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #012F34;
    transition: all 0.3s;
    cursor: pointer;
    &:hover{
        background-color: #012F34;
        color: #F67E7E;
    }
}
@media (max-width:880px){
    .go-wrapper{
        width: 100%;
    }
    .go-title{
        font-size: 32px;
        line-height: 32px;
    }
}

@media (max-width:680px){
    .go-section{
        padding: 83px 0;
    }
    .go-wrapper{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        flex-direction: column;
    }
    .go-title{
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 24px;
    }
    .go-link{
        margin: 0 auto;
        width: 100%;
    }
}