.hero-section {
    background-image: url("../images/hero-bacground-img1.svg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: calc(50% - 740px) top;
    background-color: #014E56
}
.hero {
    padding-bottom: 250px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-image: url("../images/hero-bacground-img2.svg");
    background-repeat: no-repeat;
    background-size: 348px;
    background-position: right bottom;  
}
.hero > h2{
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    color: white;
}
.hero-title-color{
    color: #F67E7E;
}
.h2 > span{
    color: #F67E7E;
}
.hero-content-wrapper {
    width: 445px;
}
.hero-content-wrapper > span{
    display: inline-block;
    margin-bottom: 79px;
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
}
.hero-content-wrapper > p{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: white;  
}